/* ------- FONTS ------- */
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto&display=swap');

.lato {
    font-family: 'Lato', sans-serif;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #E1E1E1;
    transition: color .35s ease-in-out;
}

    a:hover {
        color: #3498DB;
    }

.content-container {
    background: #272727;
    display: flex;
    justify-content: center;
}

    .content-container section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        padding: 5rem;
        color: #E1E1E1;
    }

        .content-container section .btn {
            background: #fe8c00;
            background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
            background: linear-gradient(to right, #f83600, #fe8c00);
            font-size: 1.5rem;
            padding: .75rem 2.5rem;
            border-radius: .75rem;
            cursor: pointer;
            transition: all .5s ease-in-out;
        }

            .content-container section .btn:hover {
                text-shadow: 2px 2px 2px #000;
            }

            .content-container section .btn i {
                margin-right: .5rem;
            }
        
        .content-container section .valid {
            transform: scale(.8);
            transition: transform .5s ease-in-out;
        }
        
            .content-container section .valid:hover {
                transform: scale(1);
            }

header, footer {
    background: #121212;
    color: #E1E1E1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

footer {
    justify-content: center;
    padding: .5rem;
}